deploy-latest.sh
app.yaml
initialization.py
*.pyc
.DS_Store
*~
media/*
.sass-cache
docs/install/_build
*.swp
*.mo
*.log
.ropeproject
.cache
.coverage
junit.xml
.citoolrc
coverage.xml
report
test.html
.test_report
deploy/config.yaml
.pytest_cache
settings/local.py
.idea/
*.zeus
sitestatic/
*,cover
htmlcov/
