[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.8,<1.9"
"celery[redis]" = "*"
pyicu = "*"
django-pagination = "==1.0.7"
"psycopg2" = "*"
pycryptodome = "*"
"gmpy2" = "*"
reportlab = "*"
pyyaml = "*"
uwsgi = "*"
ipython = ">=5,<6"

[dev-packages]
# selenium = "==2.25.0"
codecov = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
mock = "*"
django-debug-toolbar = "*"
pytest-xdist = "*"
"flake8" = "*"

[requires]
python_version = "2.7"
