[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = ">=1.8,<1.9"
django-celery = "*"
django-kombu = "*"
pyicu = "*"
django-pagination = "==1.0.7"
"psycopg2" = "*"
pycrypto = "*"
gmpy = "==1.17"
reportlab = "*"
pyyaml = "*"
uwsgi = "*"
ipython = ">=5,<6"

[dev-packages]

pytest = "*"
pytest-cov = "*"
pytest-django = "*"
mock = "*"
django-debug-toolbar = "*"
pytest-xdist = "*"

# selenium = "==2.25.0"
codecov = "*"


[requires]

python_version = "2.7"
