[Unit]
Description=%i Celery worker
After=syslog.target

[Service]
ExecStart=/srv/zeus/virtualenv/bin/celery -A zeus.celery worker -l INFO --concurrency 1 --pool solo
WorkingDirectory=/srv/zeus/install
User=www-data
Group=www-data
Restart=on-failure
KillSignal=SIGTERM
Type=simple
StandardError=syslog
NotifyAccess=all
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8
