{% extends "server_ui/templates/base.html" %}
{% load i18n %}

{% block tabs_menu %}

{% if bad_login %}
{% include "zeus/bad_login_warning.html" %}
{% endif %}

{% include "i18n/en/zeus/_menu_partial.html" %}
{% endblock %}

{% block page_top %}
{% include "zeus/intro_announcements.html" %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
    <h3>Zeus</h3>
  </div>
</div>
<div class="row">
<div class="columns five">
  <h5><a href="{{settings.URL_HOST}}{% url "login" %}">Logowanie (administratorzy wyborów)</a></h5>
  <h5><a href="{{settings.URL_HOST}}{% url "voter_login" %}">Logowanie (głosujący)</a></h5>
</div>
<div class="columns five">
  <h5>Demo</h5>
  <p>Wypróbuj Zeusa na koncie demonstracyjnym. Dane do logowania będą wysłane na podany adres email.</p>
  <form class="prettyform" method="post"
          action="{{settings.URL_HOST}}{% url "site_demo" %}">
    Twój adres email: <input type="text" value="" name="email"/>
    <input class="button" type="submit" value="Wyślij konto demonstracyjne" />
  </form>
</div>
<div class="columns four">
</div>
</div>
{% endblock %}
