{% extends TEMPLATE_BASE %} 

{% load remember_filters %}
{% load i18n %}

{% block tabs_menu%}
{% include "account_administration/nav.html"%}
{% endblock %}

{% block content %}
<style>
ul#id_election_types li { float: left; display: block; margin-right: 5px; }
ul#id_election_types { list-style: none; clear: both; }
ul#id_election_types:after { content: ""; clear:both; display: table }
</style>
{{messages.error}}
<form action='' method='POST'>
{% csrf_token %}
{{form}}
<br>
<br>
<label id="sub_button"></label>
<input id="sub_button" type='submit' class="button tiny" value={% trans "Save" %}>
</form>
</br>
</br>
{% endblock content%}
