{% load i18n zeus_tags %}
<div id="close-mixing-admin-action" class="reveal-modal">
<h3>{% trans "Close mixing" %}</h3>

<p class="election-admin-message">
{% trans "Please confirm." %}
</p>
<div class="actions">
  {% url "election_close_mixing" election.uuid as action %}
  <form action="{{ action }}" method="POST" class="action-form">
    {% csrf_token %}
    <input type="submit" value="{% trans "Confirm close mixing" %}"
    class="button close-reveal-modal small" />
  <a class="button close-reveal-modal small alert">{% trans "Back" %}</a>
</form>
</div>
</div>
