{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block title %}{% trans "Your vote has been cast" %}{% endblock %}

{% block head_subtitle %}
{% endblock %}

{% block content %}
<p>
{% blocktrans %}Your vote has been successfully cast. Thank you for participating.{% endblocktrans %}

<br>
{% url "election_poll_download_signature" election_uuid poll_uuid cast_vote.fingerprint as download_url %}

{% blocktrans with anchor_start='<a target="_blank" href="'|add:download_url|add:'">'|safe anchor_end="</a>"|safe %}
A {{anchor_start}}submission receipt{{anchor_end}} for your vote has been sent to your email address or mobile phone.
{% endblocktrans %}

{% endblock %}
